*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,Arial;
}


body{

color:white;
background:#050816;
overflow-x:hidden;

}


.bg{

position:fixed;
width:500px;
height:500px;

background:linear-gradient(45deg,#7c3aed,#06b6d4);

filter:blur(150px);

top:-100px;
left:-100px;

z-index:-1;

}



header{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 8%;

}


nav a{

color:white;
text-decoration:none;

margin:20px;

}


button{

padding:14px 28px;

border:none;

border-radius:30px;

background:#06b6d4;

color:white;

cursor:pointer;

}




.hero{

display:flex;

justify-content:space-around;

align-items:center;

min-height:90vh;

padding:50px;

}



.content{

max-width:550px;

}



.content h1{

font-size:65px;

}


span{

color:#06b6d4;

}


.content p{

font-size:20px;

margin:25px 0;

}



.outline{

background:transparent;

border:1px solid white;

}





.dashboard{

width:380px;

padding:30px;

border-radius:30px;

background:#ffffff15;

backdrop-filter:blur(20px);

box-shadow:0 20px 60px #000;

}



.top{

display:flex;
justify-content:space-between;

}



.circle{

width:150px;
height:150px;

border-radius:50%;

border:12px solid #06b6d4;

display:flex;

align-items:center;
justify-content:center;

font-size:35px;

margin:30px auto;

}



.stats{

display:flex;
justify-content:space-between;

}



.features,.tasks{

padding:80px 8%;

text-align:center;

}



.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-top:40px;

}



.cards div{

padding:35px;

background:#ffffff15;

border-radius:25px;

transition:.3s;

}



.cards div:hover{

transform:translateY(-15px);

background:#ffffff30;

}




input{

padding:15px;

border-radius:25px;

border:none;

width:300px;

}



li{

margin:15px;

list-style:none;

background:#ffffff20;

padding:15px;

border-radius:20px;

}



footer{

text-align:center;

padding:40px;

}





@media(max-width:800px){


.hero{

flex-direction:column;

text-align:center;

}


.content h1{

font-size:40px;

}


.cards{

grid-template-columns:1fr;

}


nav{

display:none;

}


.dashboard{

width:90%;

}

}