*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
radial-gradient(circle,#1e3c72,#0f2027);

color:white;

overflow:hidden;

}


/* Main game container */

.game{

width:340px;

padding:20px;

border-radius:25px;

background:#ffffff18;

backdrop-filter:blur(20px);

box-shadow:
0 0 30px #00ffff55;

text-align:center;

}



h1{

font-size:24px;

margin-bottom:15px;

color:#00ffff;

}



.players{

display:flex;

justify-content:center;

gap:8px;

}


.players input{

width:45%;

padding:8px;

border:none;

outline:none;

border-radius:18px;

font-size:12px;

}




.score{

display:flex;

justify-content:space-around;

margin:15px 0;

}


.score h2{

font-size:22px;

}



#turn{

font-size:16px;

margin:10px;

color:#ffe600;

}




/* Board */


.board{

display:grid;

grid-template-columns:repeat(3,65px);

gap:10px;

justify-content:center;

margin:20px auto;

}



.board div{

height:65px;

border-radius:15px;

background:#ffffff20;

display:flex;

align-items:center;

justify-content:center;

font-size:35px;

cursor:pointer;

transition:.3s;

}



.board div:hover{

background:#00ffff33;

transform:scale(1.08);

}



.win{

animation:glow 1s infinite;

}



@keyframes glow{

50%{

box-shadow:0 0 25px #00ff99;

}

}





button{

padding:9px 18px;

margin:5px;

border:none;

border-radius:20px;

cursor:pointer;

background:#00ffff;

color:#001;

font-size:13px;

font-weight:bold;

transition:.3s;

}



button:hover{

transform:scale(1.08);

}





@media(max-width:450px){


.game{

width:90%;

padding:15px;

}


h1{

font-size:20px;

}


.board{

grid-template-columns:repeat(3,60px);

gap:8px;

}


.board div{

height:60px;

font-size:28px;

}


.players input{

font-size:11px;

}

}